root {
    display: block;
}

body {
    padding: 0em 5em 1em 5em;
    font-size: 14pt;
    background-color: #18110c;
    font-family: "skia";
    color: #ffffcc;
}

h1 {
    font-size: 20pt;
    margin: 10px 30px 10px 0;
}

table {
    margin-top: 1em;
    border-collapse: collapse;
}

tr.poster-self {
    color:#aa8055;
}

td {
    vertical-align: top;
    border-bottom: 6px solid #18110c;
    border-right: 20px solid #18110c;
}

td.author {
    padding-right: 1em;
}

td.post {
    width: 20em;
}

#invite {
    font-size: 10pt;
}

input#author {
    margin-top: 0.5em;
    width: 8em;
    font-size: 12pt;
}

.watermark {
    color: #999;
}

input#msg {
    width: 20em;
    font-size: 12pt;
}








